@model Domain.Entities.Skin[]
<script type="application/javascript">
let chances = 3;
let items = [];
function clearRed()
{
    let itemsUI = document.getElementsByClassName("item");
    for (let item of itemsUI) 
    {
        if (item.style.border !== "thick solid rgb(0, 0, 255)")
        {
            item.style.border = "none";   
        }
    }
}
function selectItemProcess()
{
    debugger;
    let total = items.length - 1;
    let rand = Math.floor(Math.random() * (total));
    let currentItem = document.getElementById("id__"+ items[rand].id+" classid__" + items[rand].classId);
    let seleted = false;
    if (currentItem.style.border === "thick solid rgb(0, 0, 255)")
    {
        seleted = true;
    }
    currentItem.style.border = "thick solid #D78112";
    setTimeout(() => 
    {
        if (seleted)
        {
            currentItem.style.border = "thick solid #0000FF"
        }
        else
        {
          currentItem.style.border = "none";
        }
    }, 50);
    
}
function takeResult()
{
    if (chances < 3)
    {
        debugger;
            clearRed();
            let foobarTimeout = setInterval(selectItemProcess, 100);
            selectItemProcess();
            (async () => {
              const rawResponse = await fetch('/Betting/TakeResult', 
              {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-type': 'application/json'
                },
                body: JSON.stringify(items),
              });
              const content = await rawResponse.json();
              clearInterval(foobarTimeout);
              if (content.select)
              {
                  document.getElementById("id__"+ content.id+" classid__" + content.classId).style.border = "thick solid #08FF00";
              }else
              {
                  document.getElementById("id__"+ content.id+" classid__" + content.classId).style.border = "thick solid #FF0000";
              }
              console.log(content);
            })();
    }
    else
    {
        console.log("Сделайте выбор.")
    }
}
function loadItems(modelItems)
{
    debugger;
    for (let j = 0; j < modelItems.length; j++){
        items.push(modelItems[j]);
    }
    loadChances();
}
function loadChances()
{
    let chancesTotal =  document.getElementById("chances");
    if (chancesTotal !== null)
    {
        document.getElementById("chances").textContent = chances.toString();
    }
}
function selectItem(id, classId)
{
    let currentItem = items.filter(i => i.id === id && i.classId == classId);
    if (chances !== 0)
    {
         if (currentItem[0].select == false)
         {
            currentItem[0].select = true;
            document.getElementById("id__"+ currentItem[0].id+" classid__" + currentItem[0].classId).style.border = "thick solid #0000FF";
            chances--;
         }
         else
         {
             chances++;
             currentItem[0].select = false;
             document.getElementById("id__"+ currentItem[0].id+" classid__" + currentItem[0].classId).style.border = "none";
         }   
    }
    else
    {
         if (currentItem[0].select == true)
         {
              chances++;
              currentItem[0].select = false;
              document.getElementById("id__"+ currentItem[0].id+" classid__" + currentItem[0].classId).style.border = "none";
         }
    }
    loadChances();
}
</script>
<script type="text/javascript">loadItems(@Json.Serialize(@Model));</script>
  <div class="row">
    <div class="col-sm">
      <table>
          @{ var counter = 1; }
          <tr>
              @foreach (var item in Model)
              {
                  <td id="id__@item.Id classid__@item.ClassId" class="item" onclick="selectItem(@item.Id, @item.ClassId)">
                      <img style=" height:70px;
                                       width:auto;/*maintain aspect ratio*/
                                       max-width:70px;" src="@Url.Content(item.IconUrl)" alt="Image"/>
                  </td>
                  if (counter % 10 == 0)
                  {
                      @:</tr>
                      @:<tr>
                  }
                  counter++;
              }
          </tr>
      </table>
    </div>
    <div class="col-sm">
        <p>Количество фишек: <span id="chances">3</span></p>
        <button onclick="takeResult()">Сыграть</button>
    </div>
  </div>