<div style="">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Никнейм youtube (как в чате)</label>
    <input type="text" class="form-control" id="validationCustom01" value="" required>
    <div id="coolLoginYoutube" style="display: none; color: #1e7e34">
      Выглядит отлично!
    </div>
    <div id="wrongLoginYoutube" style="display: none; color: red">
      Не может быть пустым
      </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Никнейм steam</label>
    <input type="text" class="form-control" id="validationCustom02" value="" required>
     <div id="coolLoginSteam" style="display: none; color: #1e7e34">
          Выглядит отлично!
        </div>
        <div id="wrongLoginSteam" style="display: none; color: red">
          Не может быть пустым
          </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Email (должен быть валидный - возможно будет отсылаться сообщеине с кодом)</label>
    <input type="text" class="form-control" id="validationCustomUsername" required>
      <div id="coolEmail" style="display: none; color: #1e7e34">
        Выглядит отлично!
      </div>
      <div id="wrongEmail" style="display: none; color: red">
        Не может быть пустым
      </div>
    </div>
  <div class="col-12">
    <button class="btn btn-primary" onclick="playInLotto()">Участвовать в розыгрыше.</button>
  </div>
  <div id="StatusInsert"></div>
      <h2>Участники:</h2>
  <div style="padding-top: 20px;" id="players">
  </div>
</div>
<script type="application/javascript">
getPlayers().then(data => {
  makerTablePlayers(data);
});
function makerTablePlayers(data)
{
  removeAllChildNodes(document.getElementById("players"));
    for (step = 0; step < data.length; step++) {
      const newElem = document.createElement("div");
      newElem.setAttribute("class", "row");
      newElem.innerText = data[step].loginYoutube
      document.getElementById("players").appendChild(newElem)
    }
}
function removeAllChildNodes(parent) {
    while (parent.firstChild) {
        parent.removeChild(parent.firstChild);
    }
}
function playInLotto()
{
  debugger;
  let inputLoginYoutube = document.getElementById('validationCustom01');
  let inputLoginSteam = document.getElementById('validationCustom02');
  let inputEmail = document.getElementById('validationCustomUsername');
  let validate = true;
  if (inputLoginYoutube.value === '')
  {
    document.getElementById('coolLoginYoutube').style.display = 'none';
    document.getElementById('wrongLoginYoutube').style.display = null;
    validate = false;
  }
  else
  {
    document.getElementById('wrongLoginYoutube').style.display = 'none';
    document.getElementById('coolLoginYoutube').style.display = null;
  }
  debugger;
  if(inputLoginSteam.value === '')
  {
     document.getElementById('coolLoginSteam').style.display = 'none';
        document.getElementById('wrongLoginSteam').style.display = null;
        validate = false;
  }
  else 
  {
      document.getElementById('wrongLoginSteam').style.display = 'none';
          document.getElementById('coolLoginSteam').style.display = null;
  }
  if (inputEmail.value === '')
  {
     document.getElementById('coolEmail').style.display = 'none';
            document.getElementById('wrongEmail').style.display = null;
            validate = false;
  }
  else
  {
    document.getElementById('wrongEmail').style.display = 'none';
              document.getElementById('coolEmail').style.display = null;
  }
  if (validate)
  {
    let q = {loginYoutube : document.getElementById('validationCustom01').value, loginSteam : document.getElementById('validationCustom02').value, email : document.getElementById('validationCustomUsername').value};
        localStorage.setItem('questionnaire', JSON.stringify(q));
    insertInfo().then(idata => 
    {
      getPlayers().then((pdata)=> 
      {
        makerTablePlayers(pdata)
      });
    });
  }
}
async function insertInfo()
{
    debugger;
    const rawResponse = await fetch('/Betting/InsertInfo', 
                                  {
                                    method: 'POST',
                                    headers: {
                                      'Accept': 'application/json',
                                      'Content-type': 'application/json'
                                    },
                                    body: JSON.stringify(q),
                                  });
                                  return await rawResponse.json();
}
function changeInsertText(status)
{
    debugger;
    document.getElementById('StatusInsert').textContent = status;
}
async function getPlayers()
{
  debugger;
      const rawResponse = await fetch('/Betting/GetPlayers', 
                                    {
                                      method: 'GET',
                                      headers: {
                                        'Accept': 'application/json',
                                        'Content-type': 'application/json'
                                      }
                                    });
                                    return await rawResponse.json();
}
</script>